@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

body {
    background: linear-gradient(to bottom, #222126 0%, #1f2b38 100%);
    font-family: 'Roboto', sans-serif;
    color: white;
    margin: 0;
    padding: 0;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

header h1 {
    font-size: 2em;
}

header p {
    font-size: 1.2em;
}

.sleep-summary {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: rgba(255, 255, 255, 0.05);
    padding: 20px;
    border-radius: 10px;
    margin: 20px 0;
}

.sleep-summary > div {
    text-align: center;
    flex-basis: 100px; /* Adjust the width as needed */
}

.sleep-summary span {
    display: block;
    margin-bottom: 8px;
}

.sleep-summary span:first-child {
    font-size: 1em;
    color: #7f8c8d;
}

.sleep-summary span:last-child {
    font-size: 2em;
    color: #ecf0f1;
}

/* Adjusting the layout for the charts section */
.charts {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center-align items for aesthetic spacing */
  }

  /* Specific styles for chart containers */
.chart-container {
    width: 100%; /* Full width to contain the chart */
    max-width: 600px; /* Or whatever max-width you prefer */
    margin: 10px auto; /* Reduced margin for less space between charts */
  }

/* Adjusting canvas directly if needed */
.charts canvas {
    width: 100% !important;
    height: auto !important; /* Maintain aspect ratio */
    margin-bottom: 0 !important; /* Remove any bottom margin */
  }

  /* Additional responsive adjustments if needed */
@media (max-width: 768px) {
    .charts {
      flex-direction: column;
    }

/* Specific styles for the pie chart, if needed */
#sleepPieChart {
    max-width: 300px; /* Adjust as necessary for the pie chart */
    margin: 20px auto; /* Center the pie chart specifically */
}

.sleep-quality div {
    margin-bottom: 10px;
}

.sleep-quality span:first-child {
    display: block;
    margin-bottom: 5px;
}

/* Responsive design adjustments */
@media (max-width: 768px) {
    .sleep-summary {
        flex-direction: column;
    }
  
    .sleep-summary > div {
        margin-bottom: 20px;
    }

    /* This ensures the charts take full width on smaller screens */
    .charts canvas {
        max-width: 100%;
        height: auto;
    }
}
.raindrop {
    width: 1px;
    height: 89px;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 100%);
    position: absolute;
    bottom: 100%;
    animation: fall linear infinite;
  }
  
  @keyframes fall {
    to {
      transform: translateY(100vh);
    }
  }
  