<style>
body {
    font-family: 'Roboto', sans-serif;
}

.Header, .Date, .SleepPosition, .AudioLevelsDb, .Duration, .InternalRec, .SleepQuality {
    font-family: 'Outfit', sans-serif;
}
</style>
.Export {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    padding-top: 20px; /* Adjust based on your design */
}

.Frame17, .SleepPosition, .Frame18, .Group9, .SleepQuality {
    margin: 20px 0; /* Adds vertical spacing between sections */
    width: 90%; /* Example of using relative widths */
    max-width: 375px; /* Keeps the layout consistent with your design */
    align-self: center; /* Centers the blocks if they're within a flex container */
}

/* Example of using flexbox for internal alignment */
.Frame21, .Frame19, .Frame30 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

/* Adjusting for responsive design */
img.BgFull1, .InternalRec, .Rectangle25, .Rectangle26 {
    width: 100%; /* Makes images and backgrounds responsive */
    height: auto; /* Maintains aspect ratio */
}

.Line3 {
    position: absolute;
    bottom: 0; /* Aligns the line to the bottom of the parent container */
    left: 50%; /* This should be adjusted to place the line under the correct time */
    height: 20px; /* Or whatever the height should be */
    border-left: 1px solid white; /* Creates the vertical line */
}
